# Секретный ключ (генерируется командой: openssl rand -hex 32)
SECRET_KEY=твой_секретный_ключ

# База данных (при запуске без докера используй localhost вместо db)
DATABASE_URL=postgresql+asyncpg://логин:пароль@db:5432/название_базы
POSTGRES_PASSWORD=пароль

# Redis (при запуске без докера используй redis://localhost:6379/0 и redis://localhost:6379/1)
REDIS_CACHE_URL=redis://redis_cache:6379/0
REDIS_CELERY_URL=redis://redis_celery:6379/0

# Настройки почты
EMAIL_SENDER=почта_с_которой_будут_отправляться_письма
SMTP_PASSWORD=пароль_приложения_сгенерированный_в_google